/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
  height: 100%;
  height: max-content;
}

body{
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


html {
  background:  #c3c7ca;
}

body {
  color: #000000;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

body h1{
  color: #0c0238;
  font-family: sans-serif;
  font-style: bold;
  font-weight: 600;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 100px;
}

h1 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 25px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

.cards_item img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #f7f2f2;
  background-color: #1f727e;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 2px;
}

.btn:hover {
  background-color: #0f464e;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ffffff 40%, #ffffff  100%);
}

.card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: -5px;
}

.card_content h3{
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 300;
}

.card_text {
  color: #333131;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  margin-top: 10px;
  font-weight: 400;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.card_image{
  width: auto;
  height: 190px;
  object-fit: cover
}

.card_btn{
  align-self: flex-end;
}