html{
  width: 100%;
  height: 90%;
}

body{
  margin: 0;
  width: 100%;
  height: 90%;
  background:rgb(9, 107, 124);
}


.background {
  margin: 0;
  width: 100%;
  height: 100%;
  background:rgb(9, 107, 124);
  text-align:center;
  background-image: url("../img/sigiri88.49a657149398.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

/* @font-face {
  font-family: Whitney;
  font-style: light;
  font-weight: 300;
  src: url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff')
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff')
}

@font-face {
  font-family: Whitney;
  font-style: medium;
  font-weight: 600;
  src: url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff')
}

@font-face {
  font-family: Whitney;
  font-style: semibold;
  font-weight: 650;
  src: url(https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff')
}

@font-face {
  font-family: Whitney;
  font-style: bold;
  font-weight: 700;
  src: url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff')
/* } */
/* .discordlogo{
  background-image:url(https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg);
  width:250px;
  height:65px;
  background-size:100%;
  display:inline-block;
  background-repeat:no-repeat;
  background-position:50%;
  margin-left:-5px;
  margin-bottom:-22px
} */
.title{
  font-family: 'Whitney', sans-serif;
  font-weight:700;
  color:rgb(255, 255, 255);
  font-size:30px
}

.step{
  font-smooth: auto;
  font-family: 'Whitney', sans-serif;
  font-weight:bold;
  color:rgb(9, 107, 124);
  font-size:28px;
  opacity:1
}

.link {
  text-decoration:none;
  color:rgb(0, 0, 0);
  font-family: 'Whitney', sans-serif;
  font-size:18px;
  margin-right:auto;
  margin-left:auto;
  padding:10px 20px;
  border:2px solid rgb(64, 107, 224);
  border-radius:100px;
}

.link:hover{
  opacity:1;
  background-color:#5a5a5a;
  }

.instructions{
  margin-top: 10px;
  font-smooth: auto;
  font-family: 'Whitney', sans-serif;
  font-weight:650;
  color:rgb(0, 0, 0);
  font-size:20px;
}


footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title{
  padding-top: 30px;
}

.step1{
  padding-top: 10px;
}

.info-list{
  padding-top: 10px;
  font-size:  0.9em;
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}

.accuracy-info{
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  font-weight: bold;
  color: rgb(9, 107, 124);
  padding-top: 5px;
  margin-bottom: 0;
}

.image-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
}

.form-wrapper{
  opacity: 0.9;
  position:absolute;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
  width:40%;
  min-height: 470px;
  background-color: white;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1080px) {
  footer{
    position: static;
    width: 100%;
  }
  .form-wrapper{
    opacity: 0.9;
    position:absolute;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width:90%;  
  }

  .step2{ 
    padding-bottom: 30px;
  }

  .process-elements{
    padding-bottom: 70px;
  }
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 * Licensed under the MIT License
 *
 * Sass/SCSS source: https://goo.gl/qEV26
 * PSD by Hemn Chawroka: https://goo.gl/nXZHJ
 */

.container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.container > .dropdown {
  align-self: center;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}


@media screen and (max-width: 600px) {
  .form-wrapper{
    opacity: 0.9;
    position: abosulte;
    width:90%;
    min-height: 700px;
    padding: 30px;
  }

  body{
    width: 100%;
    height: 105%;
  }

  .title{
    font-size:20px
  }

}

